body {
  font-family: "Roboto", sans-serif;
  background: rgb(233, 232, 232);
}

header .logo {
  width: 18%;
  margin-top: 15px;
  margin-left: 3%;
}

header {
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #f3735f;
}

.container {
  width: 1024px;
  margin: auto;
}

section {
  background-color: rgb(255, 255, 255);
  /* block-size: 100%; */
  /* height: 100%; */
  border-radius: 1%;
  margin-top: 60px;
  margin-bottom: 50px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  color: #393c6c;
  text-align: center;
}

.text {
  text-align: center;
}

p {
  font-size: 12px;
}

.min {
  background-color: #82849d;
  width: 350px;
  height: 30px;
  text-align: center;
  border-radius: 3%;
  margin: 0 auto;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}

.liste {
  margin-left: 3%;
}

.crepes img {
  padding-right: 20px;
  padding-left: 58px;
  width: 250px;
  height: 300px;
  object-fit: cover;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  color: #f3735f;
  margin-top: 70px;
  margin-bottom: 20;
  margin-left: 3%;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  color: #393c6c;
  line-height: 22px;
  margin-left: 3%;
}

.explaination {
  margin-left: 3%;
  line-height: 20px;
  margin-bottom: 20px;
}

footer {
  /* position: relative; */
  text-align: center;
  font-size: 60%;
  color: #82849d;
  padding-bottom: 50px;
}
